@import "../../styles/globals";

.package{
    &__city{
        position: relative;
        top:9rem;
        margin: 1rem;
        box-shadow: 0 1rem 1rem;

    }
    &__dest{
       // box-shadow: 0 0.5rem 1rem;
        //border: 1px solid;
        width:8rem;
    }
}