$white: #ffffff;
$black: #13182C;
$red: #c94515;
$gray: #5c667e;
$graphite: #232940;
$blue:#0065ad;
$cloud: #bdc5d5;
$alabaster:#fafafa;
$mercury:#e1e1e1;
$silver:#afafaf;
$gradient:rgb(77, 77, 121)